<div class="upload-section topnav" >
  <input class="active" type="file" (change)="onFileSelected($event)">
  <button class="button-green" id="bt_check" (click)="onSubmit()">Check websites</button>
  <button class="button-blue" [class]="getButtonClass()" (click)="downloadLogs()" [disabled]="!isVerificationComplete">Download logs</button>
  <button class="button-blue" [class]="getButtonClass()" id="bt_pdf" (click)="onClickPrint()" [disabled]="!isVerificationComplete">Print to PDF</button>
  <app-help-button></app-help-button>
</div>

<div id="filter-buttons">
  <label>
    <input id="up" type="checkbox" value="up" (change)="toggleFilter('up', $event)" checked> UP
  </label>
  <label>
    <input id="down" type="checkbox" value="down" (change)="toggleFilter('down', $event)" checked> DOWN
  </label>
</div>

<div *ngFor="let website of websites" class="website-container grid-container hideUp" [class.up]="website.status === 'up' && upFilter" [class.down]="website.status === 'down' && downFilter" [class.hidden]="!(website.status === 'up' && upFilter) && !(website.status === 'down' && downFilter)">
  <div class="website-screenshot">
    <ng-container *ngIf="website.status === 'up'">
      <img [src]="'http://localhost:3000/' + website.screen" alt="Screenshot" >
    </ng-container>
  </div>

  <div class="grid-container-4">
    <div class="website-info grid-container-vertical">
      <p><strong>URL:</strong> {{ website.url }}</p>
      <p><strong>Response time:</strong> {{ website.responseTime }}s</p>
      <p><strong>ID:</strong> {{ website.id }}</p>
      <p><strong>SSL added:</strong> {{ website.addssl }}</p>
    </div>
    <div class="container">
      <p class="centered-text"><strong>Status:</strong> {{ website.status }}</p>
    </div>
  </div>
</div>
